@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


/********** General/Reocurring Values **********/
/**********                           **********/

* {
  box-sizing: border-box;
  --dark-font-color: #2F4F4F;
  --border-color: #d3d3d3;
  --page-margin: 3rem;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
}

li,
a {
  text-transform: uppercase;
}

h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

/********** Navigation **********/

nav {
  width: 90%;
  margin: auto;
}
